<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <service
            android:name=".RestartService"
            android:process=":restart" />

        <receiver android:name=".DebugReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.dx168.patchsdk.DebugReceiver.PATCH" />
                <action android:name="com.dx168.patchsdk.DebugReceiver.RESTART" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".component.FullUpdateActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>